.faq .section-inner {
    display: flex;
}

.faq .section-info {
    margin-right: 40px;
}

.faq .section-info h3 {
    color: var(--dark-blue);
    margin-bottom: 16px;
}

.faq .section-info p a {
    color: var(--main-accent);
    text-decoration: none;
}

.faq .section-info p a:hover {
    color: var(--dark-blue);
}
