.main-menu a {
    display: inline-block;
    margin: 0 16px;
    text-decoration: none;
}

.header .main-menu a {
    color: #BBBBCB;
}

.header .main-menu a:hover,
.header .main-menu a.active {
    color: #fff;
}