.projects-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.projects-heading h2 {
    color: var(--dark-blue);
}

.projects-heading .arrow-link {
    color: var(--dark-blue);
    text-decoration: none;
}

.projects-heading .arrow-link:hover {
    color: var(--main-accent);
}

.projects-gallery {
    display: flex;
    justify-content: space-between;
}

.main-gallery-item,
.projects-gallery-item {
    position: relative;
    overflow: hidden;
}

.main-gallery-item:hover .main-gallery-item-info-wrap,
.projects-gallery-item:hover .projects-gallery-item-info-wrap {
    left: 0;
}

.main-gallery-item img,
.projects-gallery-item img {
    vertical-align: bottom;
}

.main-gallery-item-info-wrap {
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -45%;
    width: 45%;
    transition: left 0.35s ease-in-out;
}

.projects-gallery-item-info-wrap {
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    transition: left 0.35s ease-in-out;
}

.main-gallery-item-info {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 70px 48px 70px 32px;
    width: 100%;
}

.main-gallery-item-info h6 {
    margin-bottom: 16px;
}

.main-gallery-item-info p {
    color: #fff;
    margin-bottom: 40px;
}

.projects-gallery-secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.projects-gallery .arrow-link {
    color: var(--action-yellow);
    text-decoration: none;
}

.projects-gallery .arrow-link:hover {
    color: var(--dark-blue);
}

.projects-gallery h6 {
    color: #fff;
    font-weight: 600;
}

.projects-gallery-item-info-wrap h6 {
    margin-bottom: 10px;
}

.projects-gallery-item-info {
    position: absolute;
    bottom: 45px;
    left: 50px;
}

.projects-gallery-item img {
    width: 100%;
    height: auto;
}