.send-inquiry {
    padding: 0;
}

.send-inquiry .section-inner {
    display: flex;
}

.send-inquiry .section-inner > div {
    width: 50%;
}

.inquiry-description {
    background: url("../../images/woman-writing-on-paper.jpg") rgba(28, 30, 83, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    box-sizing: border-box;
    padding: 96px;
}

.inquiry-description h1,
.inquiry-description p {
    color: #fff;
}

.inquiry-description h1 {
    margin-bottom: 24px;
}

.inquiry-form-wrap {
    background: var(--bg-blue);
    box-sizing: border-box;
    padding: 96px 96px 48px;
}

.inquiry-form-wrap h5 {
    color: #fff;
    margin-bottom: 16px;
}

.inquiry-form-wrap p {
    color: var(--bg-grey);
    margin-bottom: 40px;
}

.inquiry-form input {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    margin-bottom: 16px;
    padding: 18px 32px;
    max-width: 432px;
    width: 100%;
}

.inquiry-form input:focus,
.inquiry-form input:focus-visible {
    border: 1px solid #F4F6FC;
    outline: none;
}

.inquiry-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.5;
}

.inquiry-form input::-moz-placeholder { /* Firefox 19+ */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.5;
}

.inquiry-form input:-ms-input-placeholder { /* IE 10+ */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.5;
}

.inquiry-form input:-moz-placeholder { /* Firefox 18- */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.5;
}

.inquiry-form button {
    border: none;
    color: #1B1C2B;
    cursor: pointer;
    margin: 24px 0 28px;
    max-width: 432px;
    width: 100%;
}

.inquiry-form-wrap p {
    text-align: center;
}

.inquiry-form-wrap .arrow-link {
    color: #fff;
    text-decoration: none;
}

.inquiry-form-wrap .arrow-link:hover {
    color: var(--action-yellow);
}