.home-page {
    background: url("../../assets/bg.svg") repeat;
}

.home-page .content-wrap {
    margin: 0 auto;
    width: 1024px;
}

.home-transition-overlay {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    z-index: 10;
}