.select-icon {
    color: #D4D4D4;
    display: inline-block;
    margin-right: 12px;
}

.select-icon svg {
    margin-top: -4px;
    width: 24px;
    height: 24px;
}

.select-option-text {
    color: #242426;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

@media screen and (max-width: 504px) {
    .select-icon {
        color: #242426;
    }
}