.confirmed-phone {
    border: 1px solid #E2E4E5;
    border-radius: 8px;
    padding: 16px;
}

@media screen and (max-width: 456px) {
    .confirmed-phone {
        background: #EFF7FF;
        border: none;
        border-radius: 0;
        margin-right: -24px;
        margin-left: -24px;
    }
}

@media screen and (max-width: 450px) {
    .confirmed-phone {
        margin-right: -12px;
        margin-left: -12px;
    }
}

.confirmed-phone p {
    margin: 0;
}

.confirmed-phone p:last-child {
    margin-top: 8px;
}

.password-wrap {
    position: relative;
}

.password-wrap input[type="password"] {
    letter-spacing: 5px;
}

.password-wrap svg {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}