.password-wrap {
    position: relative;
}

.password-wrap input[type="password"] {
    letter-spacing: 5px;
}

.password-wrap svg {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}