.projects-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.projects-heading h2 {
    color: var(--dark-blue);
}

.projects-heading .arrow-link {
    color: var(--dark-blue);
    text-decoration: none;
}

.projects-heading .arrow-link:hover {
    color: var(--main-accent);
}

.projects-gallery {
    display: grid;
    grid-template-columns: 843px 405px;
    grid-template-rows: repeat(2, 284px);
    grid-gap: 32px;
}
