html, body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

h1, .h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
}

h2, .h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

h3, .h3 {
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;

}

h4, .h4 {
    font-weight: 500;
    font-size: 36px;
    line-height: 56px;
}

h5, .h5 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

h6, .h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

p, .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.text-semi-bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.label {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.label-small {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}