.field-group-info {
    margin-bottom: 32px;
}

.field-group-info h3 {
    color: #242731;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 2px;
}

.field-group-info p {
    color: #575F6E;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin: 0;
}