.banner {
    background: var(--bg-blue);
}

.banner .section-inner {
    display: flex;
}

.banner .section-inner > * {
    flex: 1;
}

.banner .section-inner h1 {
    color: #fff;
    margin-bottom: 24px;
}

.banner .section-inner p {
    color: #fff;
    margin-bottom: 48px;
    max-width: 510px;
}

.banner .section-inner .view-links a {
    display: inline-block;
}

.banner .section-inner .view-links .btn-light {
    color: #1B1C2B;
    margin-right: 40px;
}

.banner .section-inner .view-links .arrow-link {
    color: #fff;
    text-decoration: none;
}

.banner .section-inner .view-links .arrow-link:hover {
    color: var(--action-yellow);
}

.banner .banner-image-wrap {
    text-align: right;
}

.banner .banner-image-wrap img {
    max-width: 630px;
    width: 100%;
    height: auto;
}