.benefits h2 {
    color: var(--dark-blue);
    margin-bottom: 40px;
    text-align: center;
}

.benefits-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    margin-bottom: 48px;
}

.benefits-item {
    background: var(--bg-grey);
    box-sizing: border-box;
    padding: 50px 32px 48px 48px;
}

.benefits-item img {
    margin-bottom: 36px;
}

.benefits-item h6,
.benefits-item p {
    color: var(--dark-blue);
}

.benefits-item h6 {
    margin-bottom: 12px;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.finsweet-users {
    color: var(--dark-blue);
}