.faq .section-inner {
    display: flex;
}

.faq .section-info {
    margin-right: 40px;
}

.faq .section-info h3 {
    color: var(--dark-blue);
    margin-bottom: 16px;
}

.faq .section-info p a {
    color: var(--main-accent);
    text-decoration: none;
}

.faq .section-info p a:hover {
    color: var(--dark-blue);
}

.accordion-item:not(:last-child) {
    border-bottom: 2px solid #ECECF1;
}

.accordion-heading {
    display: flex;
    align-items: center;
    padding: 32px 0;
    position: relative;
}

.accordion-heading .faq-item-number {
    color: var(--main-accent);
    margin-right: 60px;
    max-width: 30px;
    width: 100%;
}

.accordion-heading h6 {
    color: var(--dark-blue);
}

.accordion-heading .accordion-action {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
    transition: transform 0.2s ease-out;
}

.accordion-heading .accordion-action:before,
.accordion-heading .accordion-action:after {
    background: var(--dark-blue);
    content: '';
    position: absolute;
    width: 1px;
    height: 16px;
}

.accordion-heading .accordion-action:before {
    left: 50%;
    transform: translate(-50%, 0);
}

.accordion-heading .accordion-action:after {
    left: 50%;
    transform: translate(-50%, 0) rotate(90deg);
}

.accordion-item.active .accordion-action {
    transform: rotate(45deg);
}

.accordion-body {
    color: var(--dark-blue);
    margin-left: 90px;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, padding-bottom 0.2s ease-out;
}

.accordion-item.active .accordion-body {
    padding-bottom: 30px;
}