.btn {
    border-radius: 4px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 12px 24px;
}

.outline-btn {
    background: white;
    border: 1px solid #BBBFC1;
}

.filled-btn {
    background: var(--blue);
    border: 1px solid var(--blue);
    color: white;
}

@media screen and (max-width: 504px) {
    .btn {
        display: block;
        margin: 0 auto;
    }
}

.outline-btn:hover:not(:disabled),
.outline-btn:active:not(:disabled) {
    border-color: var(--blue);
    color: var(--blue);
}

.outline-btn:disabled {
    background: #eaecef;
}

.filled-btn:hover,
.filled-btn:active {
    background: white;
    color: var(--blue);
}

.btn-prefix-icon {
    margin-right: 12px;
}

.btn-suffix-icon {
    margin-left: 12px;
}