.header.section {
    background: var(--bg-blue);
    padding: 16px 0;
}

.header .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-wrap {
    display: flex;
    align-items: center;
}

.header .btn-outline {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}