.who-we-are {
    padding: 0;
}

.who-we-are .section-inner {
    background: #F4F5F5;
    box-sizing: border-box;
    padding-top: 80px;
}

.who-we-are .section-inner > .label {
    color: var(--dark-blue);
    margin: 0 80px 4px;
}

.who-we-are .section-inner img {
    vertical-align: bottom;
}

.who-we-are-info {
    display: flex;
    margin: 0 80px 60px;
}

.who-we-are-info > div {
    box-sizing: border-box;
    width: 50%;
}

.who-we-are-info > div:first-child {
    padding-right: 30px;
}

.who-we-are-info > div:nth-child(2) {
    padding-left: 30px;
}

.who-we-are-info h3 {
    color: var(--dark-blue);
    margin-bottom: 16px;
}

